/**
 * @file
 * Customization for Dual
 *
 */

@import "base";

//
//
// Styles for the site
//
//
div.contextual-links-region.panel-pane.pane-block.pane-aggregator-feed-1{
    width: 40%;
    position: relative;
    top: -300px;
    right: -175px;
}